.blearui-dateSelect {
  position: relative;
  height: 100%;
  text-align: center; }
  .blearui-dateSelect-weeks {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .blearui-dateSelect-nav {
    color: #888; }
    .blearui-dateSelect-nav * {
      display: inline-block;
      line-height: 40px; }
    .blearui-dateSelect-nav-prev,
    .blearui-dateSelect-nav-next {
      width: 40px;
      text-align: center; }
      .blearui-dateSelect-nav-prev_disabled,
      .blearui-dateSelect-nav-next_disabled {
        visibility: hidden; }
  .blearui-dateSelect-body-list {
    margin: 0;
    padding: 0; }
    .blearui-dateSelect-body-list li {
      list-style: none;
      margin: 0;
      padding: 0; }
  .blearui-dateSelect-caption {
    line-height: 30px;
    color: #666;
    font-size: 14px; }
  .blearui-dateSelect-tr {
    overflow: hidden; }
  .blearui-dateSelect-td {
    position: relative;
    float: left;
    width: 14.28571%;
    padding-bottom: 14.28571%;
    font-size: 12px; }
    .blearui-dateSelect-td_hidden {
      visibility: hidden; }
    .blearui-dateSelect-td_prevMonth,
    .blearui-dateSelect-td_nextMonth {
      color: #aaa; }
    .blearui-dateSelect-td_candidacy .blearui-dateSelect-td-cell-inner {
      background: #ddd;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
    .blearui-dateSelect-td_selected .blearui-dateSelect-td-cell-inner {
      background: #444;
      color: #fff; }
    .blearui-dateSelect-td-cell {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .blearui-dateSelect-td-cell-wrap {
        display: table;
        width: 100%;
        height: 100%; }
      .blearui-dateSelect-td-cell-inner {
        display: table-cell;
        vertical-align: middle; }
    .blearui-dateSelect-td-text {
      position: relative; }
      .blearui-dateSelect-td-text-date {
        top: -3px;
        font-size: 13px; }
      .blearui-dateSelect-td-text-desc {
        font-size: 11px; }
