.blearui-dateSelect {
  position: relative;
  height: 100%;
  text-align: center; }
  .blearui-dateSelect-weeks {
    border-bottom: 1px solid #eee; }
  .blearui-dateSelect-nav {
    color: #888; }
    .blearui-dateSelect-nav * {
      display: inline-block;
      line-height: 40px; }
    .blearui-dateSelect-nav-prev,
    .blearui-dateSelect-nav-next {
      width: 40px;
      text-align: center; }
      .blearui-dateSelect-nav-prev_disabled,
      .blearui-dateSelect-nav-next_disabled {
        opacity: 0.3; }
  .blearui-dateSelect-body-list {
    margin: 0;
    padding: 0; }
    .blearui-dateSelect-body-list li {
      list-style: none;
      margin: 0;
      padding: 0 2px !important; }
  .blearui-dateSelect-caption {
    line-height: 30px;
    color: #666;
    font-size: 14px; }
  .blearui-dateSelect-tr {
    overflow: hidden;
    padding: 1px 0; }
  .blearui-dateSelect-td {
    position: relative;
    float: left;
    width: 14.28571%;
    padding-bottom: 14.28571%;
    font-size: 12px; }
    .blearui-dateSelect-td_hidden {
      visibility: hidden; }
    .blearui-dateSelect-td_prevMonth .blearui-dateSelect-td-text,
    .blearui-dateSelect-td_nextMonth .blearui-dateSelect-td-text {
      color: #ccc; }
    .blearui-dateSelect-td_candidacy .blearui-dateSelect-td-cell-inner {
      -webkit-border-radius: 100%;
      border-radius: 100%;
      border: 1px solid #e4e4e4; }
    .blearui-dateSelect-td_selected .blearui-dateSelect-td-cell-inner {
      background: #00aa87;
      color: #fff;
      border: none; }
    .blearui-dateSelect-td_selected .blearui-dateSelect-td-text_date,
    .blearui-dateSelect-td_selected .blearui-dateSelect-td-text_desc {
      color: #fff; }
    .blearui-dateSelect-td-cell {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .blearui-dateSelect-td-cell-wrap {
        display: table;
        width: 100%;
        height: 100%;
        padding: 1px; }
      .blearui-dateSelect-td-cell-inner {
        display: table-cell;
        vertical-align: middle; }
    .blearui-dateSelect-td-text {
      position: relative; }
      .blearui-dateSelect-td-text_date {
        top: 0;
        font-size: 14px;
        height: 14px;
        color: #888; }
      .blearui-dateSelect-td-text_desc {
        font-size: 12px;
        height: 12px;
        transform: scale(0.8);
        color: #d5b681; }
