.blearui-dateSelect {
  position: relative;
  height: 100%;
  text-align: center;

  &-header {

  }

  &-weeks {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  &-nav {
    color: #888;

    * {
      display: inline-block;
      line-height: 40px;
    }

    &-prev,
    &-next {
      width: 40px;
      text-align: center;

      &_disabled {
        visibility: hidden;
      }
    }
  }

  &-body {
    &-list {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-caption {
    line-height: 30px;
    color: #666;
    font-size: 14px;
  }

  &-tr {
    overflow: hidden;
  }

  &-td {
    position: relative;
    float: left;
    width: percentage(1/7);
    padding-bottom: percentage(1/7);
    font-size: 12px;

    &_hidden {
      visibility: hidden;
    }

    &_thisMonth {

    }

    &_prevMonth,
    &_nextMonth {
      color: #aaa;
    }

    &_candidacy &-cell-inner {
      background: #ddd;
      -webkit-border-radius: 100%;
      border-radius: 100%;
    }

    &_selected &-cell-inner {
      background: #444;
      color: #fff;
    }

    &-cell {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &-wrap {
        display: table;
        width: 100%;
        height: 100%;
      }

      &-inner {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &-text {
      position: relative;

      &-date {
        top: -3px;
        font-size: 13px;
      }

      &-desc {
        font-size: 11px;
      }
    }
  }
}